BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk_25mhz" SITE "1" ;
LOCATE COMP "scl" SITE "57" ;
LOCATE COMP "sda" SITE "58" ;
LOCATE COMP "ss" SITE "68" ;
LOCATE COMP "sck" SITE "67" ;
LOCATE COMP "mosi" SITE "69" ;
LOCATE COMP "heartbeat_n" SITE "54" ;
LOCATE COMP "adc_convert" SITE "71" ;
LOCATE COMP "adc_sck" SITE "81" ;
LOCATE COMP "TA_spare2" SITE "19" ;
LOCATE COMP "TA_spare3" SITE "20" ;
LOCATE COMP "TA_spare4" SITE "21" ;
LOCATE COMP "modulate_active_led_n" SITE "9" ;
LOCATE COMP "cw_active_led_n" SITE "10" ;
LOCATE COMP "pwm_over_current_led_n" SITE "65" ;
LOCATE COMP "adc_sdo" SITE "84" ;
LOCATE COMP "rstn" SITE "8" ;
LOCATE COMP "trigger" SITE "48" ;
LOCATE COMP "TA_spare1" SITE "18" ;
LOCATE COMP "TA_gpio1" SITE "53" ;
LOCATE COMP "TA_gpio2" SITE "51" ;
LOCATE COMP "TA_gpio3" SITE "52" ;
LOCATE COMP "cw_over_current_led_n" SITE "64" ;
LOCATE COMP "ldac_n" SITE "66" ;
LOCATE COMP "OPT_gpio1" SITE "83" ;
LOCATE COMP "OPT_gpio4" SITE "78" ;
LOCATE COMP "OPT_gpio2" SITE "75" ;
LOCATE COMP "OPT_gpio3" SITE "74" ;
LOCATE COMP "TA_gpio4" SITE "41" ;
LOCATE COMP "laser_disable_led_n" SITE "12" ;
LOCATE COMP "TA_EE_shutdown" SITE "42" ;
LOCATE COMP "TA_OPT_shutdown" SITE "43" ;
LOCATE COMP "mcu_gpio" SITE "7" ;
LOCATE COMP "pulse" SITE "99" ;
